<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">支持平台列表</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="home.html">抖音</a></li>
                <!-- <li><a href="#">Bilibili</a></li> -->
            </ul>
        </div>
        <div>
            <a href="register.html"><button type="button" class="btn btn-primary pull-right">注册</button></a>
            <a href="login.html"> <button type="button" class="btn btn-primary pull-right">登陆</button></a>
        </div>
    </div>
</nav>