<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>多媒体下载小站</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
       
    <div class="headerPage"></div>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script>
            $(function () {
                /*公共部分
                 * 导航栏
                 * footer CopyRight
                 */
                $(".headerPage").load("header.html", function(resp, status) {
                    if (status == 'error') {
                        console.log("laod header error :" +  resp)
                    }
                });
                // $(".footerpage").load("footer.html");
            });
        </script>

    <div class="container">
        <div class="login-form signup-form">
            <form action="#" method="post">
                <div class="styled-input">
                    <input type="text" name="Username" required="">
                    <label>用户名</label>
                    <span></span>
                </div>

                <div class="styled-input">
                    <input type="password" name="Password" required="">
                    <label>密码</label>
                    <span></span>
                </div>

                <div class="styled-input">
                    <input type="password" name="Password" required="">
                    <label>确认密码</label>
                    <span></span>
                </div>
                <!-- <div class="wthree-text">
                    <input type="checkbox" id="brand1" value="">
                    <label for="brand1"><span></span>同意协议</label>
                </div> -->
                <input type="submit" value="注册">
            </form>
            <p>已注册?<a href="login.html" class="sign-in popup-top-anim"> 点击这里登陆!</a></p>
        </div>
    </div>

</body>
<!-- vscode shitf + opt + f 格式化-->

</html>